{{'tisso-style.css' | asset_url | stylesheet_tag}}
<section class="tisso-banner">
<div class = "tisso-header">
<h2>{{section.settings.top_text}}</h2>
<a href="{{section.settings.choose_link}}" class="choose-btn">
{{section.settings.choose_text}}
</a>
</div>

<div class="tisso-banner-content">
<h1>{{section.settings.heading }}</h1>
<p>{{section.settings.description }}</p>
<a href = "{{section.settings.button_link }}" class="shop-btn">
{{section.settings.button_text}}
</a>

</div>

<div class = "tisso-banner-text">
{{section.settings.button_text}}
</div>

</section>
{% schema %}
{
    "name": "tisso-banner",
    "settings":[
    {
        "type": "text",
        "id": "top_text",
        "label":"Top text",
        "default": "Find the ideal dift for your loved ones"
    },
    {
        "type": "text",
        "id": "choose_text",
        "label":"Choose gift button",
        "default": "Choose Gift"
    },
    {
        "type": "url",
        "id": "choose_link",
        "label":"Choose gift link",
        
    },
    {
        "type": "text",
        "id": "heading",
        "label":"heading",
        "default": "The Gift Guide"
    },
    {
        "type": "textarea",
        "id": "description",
        "label":"Description",
        
    },
    {
        "type": "text",
        "id": "button_text",
        "label":"shop button",
        "default": "SHOP NOW"
    },
    {
        "type": "url",
        "id": "button_link",
        "label":"Shop Link",
        
    },
     {
        "type": "text",
        "id": "button_text",
        "label":"Bottom Text",
        "default": "SUSTAINABLE, ETHICALLY MADE CLOTHES IN SIZES XXS TO 6XL"
    },
    ]
}

{% endschema %}